<div class="container">
  <div class="row">
    <h1><strong>注文履歴詳細</strong></h1>
  </div>
  <div class="row w-auto mt-4">
    <div class="col-8">
      <h4>注文情報</h4>
      <table class="table table-bordered table-hover">
        <tbody>
          <tr>
            <td class="table-secondary">注文日</td>
            <td><%= @order.created_at.strftime('%Y/%m/%d') %></td>
          </tr>
          <tr>
            <td class="table-secondary">配送先</td>
            <td><%= @order.address %></td>
          </tr>
          <tr>
            <td class="table-secondary">支払方法</td>
            <td><%= @order.payment_method %></td>
          </tr>
          <tr>
            <td class="table-secondary">ステータス</td>
            <td><%= @order.status %></td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="col-4">
      <h4>請求情報</h4>
      <table class="table table-bordered table-hover">
        <tbody>
          <tr>
            <td class="table-secondary">商品合計</td>
            <td><%= @order.payment.to_s(:delimited) %></td>
          </tr>
          <tr>
            <td class="table-secondary">配送料</td>
            <td><%= @order.shipping_cost %></td>
          </tr>
          <tr>
            <td class="table-secondary">ご請求額</td>
            <td><%= ((@order.payment).to_i + (@order.shipping_cost).to_i).to_s(:delimited) %></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div class="row w-75 my-3">
    <h4>注文内容</h4>
    <table class="table table-bordered table-hover">
      <thead class="thead-light">
        <tr>
          <th>商品</th>
          <th>単価（税込）</th>
          <th>個数</th>
          <th>小計</th>
        </tr>
      </thead>
      <tbody>
      <% @order_details.each do |detail| %>
        <tr>
          <td><%= detail.item.name %></td>
          <td><%= ((detail.item.price * 1.1).floor).to_s(:delimited) %></td>
          <td><%= detail.amount %></td>
          <td><%= ((detail.item.price * 1.1) * detail.amount).floor.to_s(:delimited) %></td>
        </tr>
      <% end %>
      </tbody>
      </table>
    </div>
  </div>
</div>