<div class="container">
  <div class="row mb-4">
    <h1>ログイン</h1>
  </div>
  <div class="row mb-4">
    <h4>会員の方はこちらからログイン</h4>
  </div>
  <div class="row mb-5">
    <div class="w-50 mx-auto">
    <%= form_with model: @customer, url: customer_session_path, method: :post, local: true do |f| %>
      <div class="row">
        <label class="col-sm-4 col-form-label"><%= f.label :メールアドレス %></label>
        <div class="col-sm-8">
          <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control", placeholder: "sample@example.com" %>
        </div>
      </div>
      <div class="row">
        <label class="col-sm-4 col-form-label"><%= f.label :パスワード %></label>
        <div class="col-sm-8">
          <%= f.password_field :password, autocomplete: "current-password", class: "form-control" %>
        </div>
      </div>
      <div class="form-group text-center">
        <%= f.submit "ログイン", class: "btn btn-primary px-5" %>
      </div>
    <% end %>
    </div>
  </div>
  <div class="row mb-4">
    <h4>会員登録がお済みでない方</h4>
  </div>
  <div class="row">
    <p class="mx-auto">
      <a href="/customers/sign_up">こちら</a>から新規登録を行ってください。
    </p>
  </div>
</div>