<!DOCTYPE html>
<html>
  <head>
    <title>NaganoCake</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=devise-width, initial-scale=1,maximum-scale=1">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class="d-flex flex-column vh-100">
    <header class="shadow-sm">
      <nav class="navbar navbar-expand-lg navbar-light">
        <div class="container">
          <h1 class="navbar-brand">
            <%= link_to root_path do %>
              <img class="img-responsive" src="/naganocake.jpg" height="70" width="100">
            <% end %>
          </h1>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav ml-auto">
              <% if customer_signed_in? %>
                <li class="nav-item">
                  <strong class="text-center">ようこそ、<%= current_customer.last_name %>さん！</strong>
                </li>
                <li class="nav-item">
                  <%= link_to "マイページ", customer_path(current_customer), class: "nav-link btn btn-outline-secondary" %>
                </li>
                <li class="nav-item">
                  <%= link_to "商品一覧", items_path, class: "nav-link btn btn-outline-secondary" %>
                </li>
                <li class="nav-item">
                  <%= link_to "カート", cart_items_path, class: "nav-link btn btn-outline-secondary" %>
                </li>
                <li class="nav-item">
                  <%= link_to "ログアウト", destroy_customer_session_path, method: :delete, class: "nav-link btn btn-outline-secondary" %>
                </li>
              <% elsif admin_signed_in? %>
                <li class="nav-item">
                  <%= link_to "商品一覧", admin_items_path, class: "nav-link btn btn-outline-secondary" %>
                </li>
                <li class="nav-item">
                  <%= link_to "会員一覧", admin_customers_path, class: "nav-link btn btn-outline-secondary" %>
                </li>
                <li class="nav-item">
                  <%= link_to "注文履歴一覧", admin_root_path, class: "nav-link btn btn-outline-secondary" %>
                </li>
                <li class="nav-item">
                  <%= link_to "ジャンル一覧", admin_genres_path, class: "nav-link btn btn-outline-secondary" %>
                </li>
                <li class="nav-item">
                  <%= link_to "ログアウト", destroy_admin_session_path, method: :delete, class: "nav-link btn btn-outline-secondary" %>
                </li>
              <% else %>
                <li class="nav-item">
                  <%= link_to "About", about_path, class: "nav-link btn btn-outline-secondary" %>
                </li>
                <li class="nav-item">
                  <%= link_to "商品一覧", items_path, class: "nav-link btn btn-outline-secondary" %>
                </li>
                <li class="nav-item">
                  <%= link_to "新規登録", new_customer_registration_path, class: "nav-link btn btn-outline-secondary" %>
                </li>
                <li class="nav-item">
                  <%= link_to "ログイン", new_customer_session_path, class: "nav-link btn btn-outline-secondary" %>
                </li>
              <% end %>
            </ul>
          </div>
        </div>
      </nav>
      <!--flashによるメッセージ表示-->
      <% flash.each do |key, msg| %>
        <p class="alert alert-<%= key %>">
          <%= msg.html_safe %>
        </p>
      <% end %>
      <!----------------------------->
    </header>
    
    <main class="mt-5 mb-auto">
      <%= yield %>
    </main>
    
    <footer class="shadow-sm pt-4">
      <div class="footer border-top"></div>
    </footer>
  </body>
</html>
